# ======================================================================
# WE DO THIS TO KEEP THE MAIN BRANCH "ACCIDENT-FREE".
# See ./README.md for how to set up your VCS environment.
#
# IGNORE ALL FILES AND SUBDIRECTORIES,
# BUT DON'T IGNORE THE ROOT DIRECTORY.
*
!*/
# ======================================================================

# TRACK THIS FILE.
!.gitignore

# TRACK THE .github/ DIRECTORY.
!.github/**

# TRACK THE GUIDES DIRECTORY.
!info/**

# TRACK REPOSITORY METADATA.
!LICENSE
!CONTRIBUTING.md
!README.md
